.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.landinglogo {
  width: 50vw;
  height: auto;
}

/* space background */
.main {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -24vw -44vh 2px 2px #fff, 38vw -4vh 0px 0px #fff,
    -20vw -48vh 1px 2px #fff, -39vw 38vh 3px 1px #fff, -42vw -11vh 0px 3px #fff,
    12vw 15vh 3px 3px #fff, 42vw 6vh 3px 2px #fff, -8vw 9vh 0px 2px #fff,
    34vw -38vh 1px 0px #fff, -17vw 45vh 3px 1px #fff, 22vw -36vh 3px 2px #fff,
    -42vw 1vh 1px 0px #fff;
  animation: zoom 10s alternate infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.App-header {
  background-color: #000;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.topNav {
  display: flex;
}
/* DASHBOARD */
.profilepic {
  width: auto;
  height: 5vh;
}
.questionpic {
  width: 20vw;
  height: auto;
}

/* Landing Page */
#demo-svg {
  align-items: center;
}
.container {
  margin-top: 5vh;
  width: 95vw;
}
.links {
  text-decoration: none;
  color: inherit;
}
.left-link {
  display: flex;
}
.right-link {
  display: flex;
  justify-content: end;
}
.svg-container {
  display: inline-block;
}
/* Dashboard */
.dashboard-top-left {
  height: 35vh;
  display: flex;
  align-items: flex-end;
}
.dashboard-top-right {
  height: 35vh;
  display: block;
  justify-content: end;
}
.dashboard-top-right-row1 {
  height: 5vh;
  display: flex;
  justify-content: end;
}
.dashboard-top-right-row2 {
  margin-top: 1vh;
  height: 30vh;
}
.dashboard-bottom-left {
  margin-top: 1vh;
  height: 60vh;
  display: block;
  justify-content: end;
}
.dashboard-bottom-right {
  margin-top: 1vh;
  height: 60vh;
}
.dashboard-bottom-left-right {
  margin-top: 1vh;
  height: 33%;
}

/* Dashboard Friends */
.friend-box {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
}
.friend-row {
  display: flex;
  height: 10vh;
  align-items: center;
}
.friend-grid-row {
  margin-top: 0px;
}
.friend-avatar {
  height: 5vh;
  width: auto;
}

/* Lobbies */
.lobbies-row {
  display: flex;
}
.lobbies-info {
  display: flex;
  justify-content: end;
  margin-left: 2px;
  margin-right: auto;
}
.lobbies-add-button {
  display: flex;
  justify-content: end;
}

/* Questions */
.questions-column {
  display: flex;
  flex-direction: column;
}

/* Modal */
/* .modal {
  width: 60vw;
} */
.modal-info-row {
  display: flex;
}

/* remove all underlines from */

a {
  text-decoration: none;
}

/* LOBBY STYLING */
.userInfoHolder {
  background-image: url("./images/lobbyuserinfoholder2.png");
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.userNameDisplay {
  position: absolute;
  top: -10%;
  height: 100%;
  width: 100%;
}

.userStatsDisplay {
  position: absolute;
  top: -30%;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.questionDisplayContainer {
  background-color: #22212198;
  border: 1px solid #e8dacc;
  padding: 1em;
  border-radius: 10px;
}

.singleQuestionDisplayContainer {
  background: linear-gradient(#1a6723 0 0) no-repeat var(--p, 200%) 100% / 200%
    var(--p, 0.08em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

.singleQuestionDisplayContainer:hover {
  cursor: pointer;
  --p: 100%;
  --t: 0.3s;
}

.singleQuestionDisplayContainerSolved {
  background: linear-gradient(#3d0707 0 0) no-repeat var(--p, 200%) 100% / 200%
    var(--p, 0.08em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}
.singleQuestionDisplayContainerSolved:hover {
  cursor: context-menu;
  --p: 100%;
  --t: 0.3s;
}

.dotSolved {
  height: 0.6em;
  width: 0.6em;
  background-color: #c52323;
  border-radius: 50%;
  display: inline-block;
}
.dotNotSolved {
  height: 0.6em;
  width: 0.6em;
  background-color: #1e9d4c;
  border-radius: 50%;
  display: inline-block;
}

/* width */
.scroll::-webkit-scrollbar {
  width: 10px;
  border: 1px solid #000000;
  border-radius: 30px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: #555;
  border: 1px solid #000000;
  border-radius: 30px;
  margin: 10px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #cfff04;
  border: 1px solid #000000;
  border-radius: 30px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #cfff04;
  border: 1px solid #000000;
  border-radius: 30px;
}

.chatInputField {
  background-color: #1f1d1d;
  color: white;
  border: 1px solid #e600ff;
  border-radius: 10px;
  width: 100%;
  height: 10vh;
  text-align: left;
  padding-left: 15px;
  padding-bottom: 12vh;
  margin: 10px 0 20px 0;
}

/* END OF LOBBY STYLING */
